body { 
  padding-top: 65px; 
}

div.a {
  font-family: arial, sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-right: 25%;
  padding-left: 25%;
}
div.script {
  text-align: left;
}
th{
  background-color: lightseagreen;
  color: white;
}
table, th, td {
  padding: 10px;
  border: 2px solid #A9A9A9;
  border-color: solid black;
  border-collapse: collapse;
}
#header,#header2 {
  text-align: center;
  background-color: lightseagreen;
  font-weight: bold;
  color:white;
}
#map
{
   
   height:180px;
    min-height: 100%;
    min-width: 100%;

}

html, body
{
    height: 100%;
}

.fill
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
}
#homePicture {
  height: 100px;
  width: 100px;
  cursor: Pointer;
}
.button {
  border: 4px solid;
  border-radius:10px;
  color: #3498db;
  font-weight: 700;
  text-transform: uppercase;;
  text-align: center;
  cursor: Pointer;
  font-size: 16px;
  font-family: arial, sans-serif;
}
