div.Introduction {
  font-family: arial, sans-serif;
  text-align: center;
}
div.script {
  text-align: left;
}
th{
  background-color: forestgreen;
  color: white;
  max-width: 100%;
}
table, th, td {
  padding: 10px;
  border: 2px solid #A9A9A9;
  border-color: solid black;
  border-collapse: collapse;
  max-width: 100%;
}
#header,#header2 {
  text-align: center;
  background-color: lightseagreen;
  font-weight: bold;
  color:white;
}
.navbar {
  color: white;
  padding-top: 20px;
}
#stayhealty{ /*used only in index_Login.html */
  color: #2E8B57;
  font-weight: bold;
  font-family: arial, sans-serif;
}
